/* Global stylesheets */
* {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
            box-sizing: border-box;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
}

body, p, div, section, h1, h2, h3, h4, article, footer, ul { margin: 0; padding: 0; }
html, body, .container { height: 100%; }
a { text-decoration: none; }
body {
    font-family: "jaf-bernino-sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    font-size: 18px;
    line-height: 1.4;
}
.container { background-color: #fff; }
.surface { top: 0; height: 100%; width: 100%; }
.site-content { height: 100%; outline: 0; background-color: #fff; }
.header-bg {
    background: rgba(0, 0, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 350px;
    background-image: linear-gradient(15deg, #0A1855 0%, #00e8cA 100%);
}
.site-foreground { position: relative; z-index: 100; min-height: 100vh; }
.site-header { padding-top: 100px; color: white; height: 350px; text-align: center; width: 640px; margin: 0 auto; }
.site-header .header-title h1 {
    font-family: "jaf-bernino-sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    font-size: 64px;
    font-weight: 700;
    letter-spacing: -0.04rem;
    line-height: 1;
}
.site-header .header-title .title-desc {
    font-family: "freight-text-pro", Georgia, Cambria, "Times New Roman", Times, serif;
    letter-spacing: 0.01rem;
    font-weight: 400;
    font-size: 22px;
    margin: 15px 0;
}
.site-header .site-nav { margin-top: 84px; border-top: 1px solid rgba(255, 255, 255, .35); padding: 15px 0; }
             .site-nav ul > li { display: inline-block; margin-right: 25px; list-style: none; }
             .site-nav ul > li > a { font-size: 14px; color: white; }
             .site-nav ul > li > a:hover { text-shadow: 1px 1px 1px white; }
.site-main { background-color: white; padding: 15px 0; }
.site-main h2, .site-main h3 { text-transform: uppercase; margin: 10px 0; }
.site-main h4 { margin: 5px 0; }
.site-main > section { padding: 10px 0; width: 640px; margin: 0 auto; }
.site-main > section > h2 { color: #333; }
.site-main > section > h3 { color: #666; }
.site-main img { width: 75%; }
.site-main p { font-family: Georgia, sans-serif; }
.site-main a { color: grey; padding: 0 3px; }
.site-main a:hover { color: ghostwhite; background-color: grey; }
.site-footer { padding: 20px 0; color: grey; font-size: 14px; text-align: center; border-top: 1px solid rgba(0, 0, 0, .2); }
.site-footer a { color: grey; }
.site-footer a:hover { color: ghostwhite; background-color: grey; }
