/* Global */
* {
            box-sizing: border-box;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
}

body, p, div, section, h1, h2, h3, h4, article, footer { margin: 0; padding: 0; }

a { text-decoration: none; }

/* Body */
body {
    height: 100vh;
    font: 14px/1.5 "Lucida Console", Monaco, monospace;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    background-image: linear-gradient(45deg, #0A1855 0%, #00e8cA 100%);
}

/* Header */
.site-header { padding: 15px 20px; border-bottom: 1px solid rgba(255, 255, 255, .1); overflow: auto; }
.site-header h1 { text-align: center; }
.site-nav { text-align: center; margin-top: 5px; }
.site-header a,
.site-footer a { color: #fff; }

/* Content */
.site-content { color: #fff; padding: 50px 30px; }
.site-coming { font-size: 2rem; text-align: center; }

/* Footer */
.site-footer {
    position: absolute;
    padding: 30px 20px;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid rgba(255, 255, 255, .1);
    color: rgba(255, 255, 255, .5);
}

.site-footer p { text-align: center; }


/* For wide display */
@media screen and (min-width: 768px) {
    .container { width: 860px; margin: 0 auto; overflow: auto; }

    /* Header */
    .site-header { padding: 15px 80px; }
    .site-header h1 { text-align: left; float: left; font-size: 1.4rem; }

    .site-nav { float: right; font-size: 1rem; }
    .site-nav a { display: inline-block; padding: 0 15px; }
    /* Content */
    .site-content { position: relative; top: 20%; }
}
