a { text-decoration: none; }
.section { font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif; }
.section h2 { font-family: 'Lato', sans-serif; font-size: 48px; font-weight: 100; }
.container { max-width: 800px; margin: 0 auto; }
.site-header { background-color: white; }
.header, .nav { width: 640px; margin: 0 auto; text-align: center; padding-top: 150px; }
.site-desc { font-size: 24px; font-family: 'Cookie', cursive; }

.btn {
  font-size: 18px;
  color: white;
  background-color: #4a4a4a;
  padding: 5px 15px;
  border-radius: 8px;
}

.nav a {
  margin: 10px;
  font-family: Georgia, Garamond, Times, "Times New Roman", serif;
}

.header h1 {
  font-size: 52px;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  margin: 0;
}

.header h1 a { color: #333; }

/* section open source */
.section-os { background-image: linear-gradient(15deg, #4CD964 0%, #E0F8D8 100%); }

.section-about h2 { text-align: right; }
.octocat { width: 60%; float: left; }
.octocat img { width: 100%; }

.os { margin-left: 60%; }
.os-list { list-style: none; color: #333; }
.os-list p { font-size: 20px; color: #333; }
.os-list p > small { font-size: 16px; color: #777; }
.os-list > ul { padding-left: 2em; }
.os-list a { text-decoration: none; color: #5856D6; font-size: 16px; }
.os-list a:hover { text-decoration: underline; color: #1d77ef; transition: color .5s linear; -webkit-transition: color .5s linear; }
.os-list > li:last-child { padding: 20px 0; }

/* section about */
.section-about { background-image: linear-gradient(45deg, #55EFCB 0%, #5BCAFF 100%); }
.section-about h2 { color: white; }