/*
 *  HOMEPAGE
 *  
 */
$bg-dark: rgba(153, 153, 102, .6);
$black: #1f1f1f;
$white: #f1f1f1;
$pure-white: #fff;
$light-grey: #ccc;
$mid-grey: #999;
$dark-grey: #777;
/* Color in Pocket */
$green: #83edb8;
$blue: #50bcb6;
$red: #ee4256;
$orange: #fcb64b;

@keyframes 't' {
	from {
		transform: rotateY(0deg);
	}
	to {
		transform: rotateY(360deg);
	}
}
@-webkit-keyframes 't' {
	from {
		-webkit-transform: rotateY(0deg);
	}
	to {
		-webkit-transform: rotateY(360deg);
	}
}

body {
	padding: 0;
	margin: 0;
	font-family: "Open Sans", "KaiTi", "SimHei", sans-serif;
	//background-color: $white;
	header {
		@extend body;
		text-align: center;
		#outline {
			width: 100%;
			height: 4px;
			div {
				float: left;
				width: 25%;
				height: 100%;
				&:first-child {
					background-color: $green;
				}
				&:nth-child(2) {
					background-color: $blue;
				}
				&:nth-child(3) {
					background-color: $red;
				}
				&:last-child {
					background-color: $orange;
				}
			}
		}
		.nav {
			position: fixed;
			top: 20px;
			right: 100px;
			a {
				font-size: 14px;
				color: $blue;
				text-decoration: none;
				margin: 0 5px;
				padding-right: 10px;
				border-right: 1px solid $light-grey;
				&:hover {
					color: $green;
				}
			}
			a:last-child {
				@extend a;
				border-right: none;
			}
		}
	}
	article {
		width: 600px;
		min-height: 300px;
		margin: 100px 40px 180px 80px;
		padding-left: 40px;
		a {
			padding: 5px 10px;
			color: $blue;
			text-decoration: none;
			&:hover {
				color: $green;
			}
		}
		h1 {
			display: inline-block;
			font-size: 60px;
			margin: 10px 0;
			color: $dark-grey;
			small {
				font-size: 14px;
				color: $light-grey;
			}
		}
		img {
			width: 50px;
			height: 50px;
			margin: 5px 0 0 0;
			border: 1px solid $white;
			border-radius: 25px;
			&:hover {
				animation: t 2s infinite alternate;
				-webkit-animation: t 2s infinite alternate;
			}
		}
		p {
			font-size: 30px;
			color: $mid-grey;
			em {
				font-size: 16px;
				color: $light-grey;
			}
		}
		.intro {
			p {
				font-size: 16px;
				color: $light-grey;
			}
		}
	}
	footer {
		border-top: 1px dotted $light-grey;
		text-align: center;
		font-size: 14px;
		color: $dark-grey;
		a {
			color: $dark-grey;
			text-decoration: none;
			&:hover {
				color: $light-grey;
			}			
		}
	}
}
