/* site.sass
 *
 * Copyright 2014 Fantasy Shao
 *
 * @description 
 * @author fantasy
 * @create 2014-12-13
 * @update 2014-12-13
 */
html, body, h1 {
  margin: 0;
  padding: 0; }

html, body {
  height: 100%;
  font-size: 10px;
  overflow-x: hidden; }

body {
  line-height: 1.4;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.bg-teal {
  background-color: #009688; }

.fg-white {
  color: white; }

.site-main {
  position: relative; }

.site-main, .site-container, .site-header {
  height: 100%;
  width: 100%; }

.site-container {
  display: table; }

.site-header {
  display: table-cell;
  vertical-align: middle; }
  .site-header .site-header-inner {
    padding-bottom: 200px; }
    .site-header .site-header-inner a {
      text-decoration: none; }
    .site-header .site-header-inner h1 {
      color: rgba(0, 0, 0, 0.8);
      font-size: 4.8rem;
      text-align: center;
      font-family: "Lato", Geneva, Verdana, sans-serif;
      font-weight: 300;
      letter-spacing: 0.1em; }
    .site-header .site-header-inner p {
      color: rgba(0, 0, 0, 0.6);
      text-align: center;
      font-size: 1.6rem;
      letter-spacing: 0.03em;
      font-family: "Roboto", sans-serif; }
    @media screen and (max-width: 500px) {
      .site-header .site-header-inner h1 {
        font-size: 3.2rem; } }
  .site-header .site-nav {
    padding-top: 20px;
    font-size: 0;
    max-width: 600px;
    margin: 0 auto; }
    .site-header .site-nav ul {
      padding: 0; }
    .site-header .site-nav ul, .site-header .site-nav li {
      list-style: none; }
    .site-header .site-nav li {
      display: inline-block;
      width: 25%;
      text-align: center;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
      .site-header .site-nav li:not(:last-child) {
        border-right: 1px solid rgba(0, 0, 0, 0.05); }
      .site-header .site-nav li a {
        font-size: 1.8rem;
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        color: rgba(0, 0, 0, 0.6); }

.site-section {
  padding: 20px; }
  .site-section p {
    font-size: 1.2rem; }
  .site-section h2, .site-section h3 {
    color: rgba(0, 0, 0, 0.75); }
  .site-section h2 {
    margin: 0;
    padding: 2rem 0;
    font-size: 1.8rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.03); }
  .site-section h3 {
    margin: 0;
    padding: 1rem 0;
    font-size: 1.6rem; }
  .site-section a {
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.6); }
  .site-section ul {
    margin: 0;
    padding: 0;
    list-style-position: inside; }
    .site-section ul li {
      padding-left: 1rem; }
  .site-section .pic-list {
    list-style: none;
    font-size: 0;
    padding: 2rem 0; }
    .site-section .pic-list li {
      display: inline-block; }
      .site-section .pic-list li:not(:first-child) {
        margin-left: 20px; }
      .site-section .pic-list li img {
        height: 120px;
        width: 120px; }

.site-footer {
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  font-size: 0; }
  .site-footer.bottom {
    position: absolute;
    bottom: 0;
    left: 0; }
  .site-footer div {
    font-size: 1.2rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .site-footer div p, .site-footer div a {
      color: rgba(0, 0, 0, 0.75); }
    .site-footer div p {
      text-align: center;
      margin: 1.5rem 0;
      padding: 0.5rem 0; }

.nav-header {
  padding: 10px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  background-color: rgba(0, 0, 0, 0.015);
  position: relative; }
  .nav-header h1 {
    font-size: 2.4rem;
    font-family: "Lato", Geneva, Verdana, sans-serif;
    font-weight: 300;
    letter-spacing: 0.1em;
    color: rgba(0, 0, 0, 0.75);
    display: inline-block; }
  .nav-header .menu {
    display: inline-block; }
    .nav-header .menu a {
      display: inline-block;
      font-size: 1.6rem;
      color: rgba(0, 0, 0, 0.45);
      margin-left: 20px; }
      .nav-header .menu a:first-child {
        margin-left: 40px; }
  .nav-header .back {
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -0.95rem;
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.6); }

/*# sourceMappingURL=site.css.map */
